/* GLOBALES */
h1,
h2,
h3,
p{
    font-family: 'Varela Round', sans-serif;
    padding: 0;
    margin: 0;
}

h3{
    font-weight: 900!important;
    font-size: 25px!important;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%; 
    display: block; 
    max-height:100%;
}

/* Utilidades */
.mt-2 {
    margin-top: 20px;
}
.mt-4 {
    margin-top: 40px;
}
.mt-6 {
    margin-top: 60px;
}

.centrar {
    margin: 0 auto;
}

.p-0{
    padding: 0;
}

.separador-violeta{
    margin: 0;
    padding: 0;
    color: #FF33F9;
    font-weight: bold;
}
.separador-verde{
    margin: 0;
    padding: 0;
    color: #21BD21;
    font-weight: bold;
}

/* HEADER */
.tt-desctop-menu nav > ul > li.dropdown > a {
    font-size: 20px!important;
}

.logo-index-mb img{
    max-height: 80px!important;
    margin-left:0;
}
.logo-index-dk img{
    max-height: 120px!important; 
    margin-bottom: 20px;
    margin-top: 20px;
}
.logo-index-nav img{
    max-height: 50px!important;
    margin-left:10px;
}
/* HOME */
.contenido-principal {
    margin-top: 20px;
}

/* TESTIMONIALES */
.contenedor-uso {
    background-color: #F8E0D2; 
    margin-top: 20px;
}
.usar-usado {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    padding-top: 20px;
}

.usar-usado img{
    max-width: 250px;
}

.contenedor-carrusel {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.carrusel {
    margin-top: 20px; 
    max-width: 50%; 
    margin-bottom: 20px;
}

/* NOSOTROS */
.contenedor-nosotros {
    margin-top: 20px;
}

.contenedor-banner {
    margin-bottom: 60px;
}

/* SUBSCRIBITE */
.subscribite {
    font-size: 24px; 
    font-weight: bold;
}

/* Contenedor Subscribite */
.contenedor-subscribite{
    margin-top: 70px;
}
.form-subscribite {
    margin-top: 10px;
}

.form-subscribite-input {
    color: #e2e2e2;
    text-align: center;
}
/* FOOTER */
.logo-footer {
    max-width: 200px; 
    margin-top: 20px; 
    margin-bottom: 10px;
}

.footer-enlaces {
    font-size: 25px;
}

.contenedor-tienda-online {
    padding: 0; 
    max-height: 600px
}