/* GLOBALES */
html {
    box-sizing: border-box;
    /*font-size: 62.5;*/
}
*,*:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'BLUESALE';
    src: url('../font/Mi_fuentes/BLUESALE.otf') format('truetype');
}
@font-face {
    font-family: 'Gotham-Black';
    src: url('../font/Mi_fuentes/Gotham-Black.otf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../font/Mi_fuentes/Gotham-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../font/Mi_fuentes/Gotham-Book.otf') format('truetype');
}

button {
    font-family: 'BLUESALE', sans-serif;
}
.btn {
    font-family: 'BLUESALE', sans-serif;
}
.button {
    font-family: 'BLUESALE', sans-serif;
    text-transform: uppercase;
    font-size: 55px;
}
h1,
h2,
h3,
p{
    font-family: 'Gotham-Book', sans-serif;
    padding: 0;
    margin: 0;
}

h3{
    font-family: 'Gotham-Black', sans-serif;
    font-size: 25px!important;
    margin: 0;
    padding: 0;
}
h4{
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 20px!important;
    margin: 0!important;
    padding: 0!important;
}

img {
    max-width: 100%; 
    display: block; 
    max-height:100%;
}

/* Utilidades */
.mt-2 {
    margin-top: 20px;
}
.mt-4 {
    margin-top: 40px;
}
.mt-6 {
    margin-top: 60px;
}

.centrar {
    margin: 0 auto;
}
.contenido-centrado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.p-0{
    padding: 0;
}

.separador-violeta{
    margin: 0;
    padding: 0;
    color: #FF33F9;
    font-weight: bold;
}
.separador-verde{
    margin: 0;
    padding: 0;
    color: #21BD21;
    font-weight: bold;
}

/* BTN */
.btn-convenio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media (min-width: 720px){ 
    .btn-convenio {
        margin-top: 60px;
        margin-bottom: 60px;
    } 
}
@media (min-width: 1300px){ 
    .btn-convenio {
        margin-top: 80px;
        margin-bottom: 80px;
    } 
}
.btn-convenio a{
    font-family: 'Gotham-Bold', sans-serif;
    display: block;
    text-transform: uppercase;
    height: 50px;
    width: 334px;
    background-color: #fc3273;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    transition: background-color .5s ease-out ;
}
@media (min-width: 720px){ 
    .btn-convenio a{
        height: 50px;
        min-width: 600px;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 27px;
    } 
}
@media (min-width: 1300px){ 
    .btn-convenio a{
        height: 50px;
        min-width: 600px;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 27px;
    } 
}
.btn-convenio a.segundo-enlace {
    background-color: #126812;
}
.btn-convenio a:hover{
    background-color: #bb023d;
}
.btn-convenio a.segundo-enlace:hover {
    background-color: #083c08;
}

/* HEADER */
.tt-desctop-menu nav > ul > li.dropdown > a {
    font-size: 20px!important;
}

.logo-index-mb img{
    max-height: 80px!important;
    margin-left:0;
}
.logo-index-dk img{
    max-height: 120px!important; 
    margin-bottom: 20px;
    margin-top: 20px;
}
.logo-index-nav img{
    max-height: 50px!important;
    margin-left:10px;
}
/* HOME */
.contenido-principal {
    margin-top: 20px;
}
.main-index a{
    height: 360px;
}
@media (min-width: 720px){
    .main-index a{
        height: 400px;
    }  
}
@media (min-width: 1300px){ 
    .main-index a{
        height: 600px;
    }
}
@media (min-width: 1600px){ 
    .main-index a{
        height: 700px;
    }
}
@media (min-width: 1920px){ 
    .main-index a{
        height: 800px;
    }
}
.main-index a{
    background-position: bottom center;
    background-repeat: no-repeat; 
    background-size: 162%;
}

.notavif.notwebp .imagen-1 a{/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/Home/JPG/compra1200px.jpg");
}
.webp .imagen-1 a{
    background-image: url("../images/Home/WEBP/compra1200px.webp");
}

.notavif.notwebp .imagen-2 a{/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/Home/JPG/vende1200px.jpg");
}
.webp .imagen-2 a{
    background-image: url("../images/Home/WEBP/vende1200px.webp");
}
.imagen-2 a {
    background-position: -458px -351px;
    background-size: 236%;
}

@media (min-width: 375px){ 
    .imagen-1 a{
        background-position: bottom center;
        background-size: 136%;
    }

    .imagen-2 a{
        background-position: bottom center;
        background-size: 144%;
    }
}

@media (min-width: 720px){ 
    .imagen-1 a{
        background-position: bottom center;
        background-size: 226%;
    }

    .imagen-2 a{
        background-position: -260px center;
        background-size: 222%;
    }
}

@media (min-width: 768px){ 
    .imagen-1 a{
        background-position: bottom center;
        background-size: 206%;
    }

    .imagen-2 a{
        background-position: -260px center;
        background-size: 206%;
    }
}

@media (min-width: 1360px){ 
    .imagen-1 a{
        background-position: bottom center;
        background-size: 152%;
    }

    .imagen-2 a{
        background-position: bottom center;
        background-size: 151%;
    }
}
.imagen-banner-descuento img{
    width: 100%;
    height: 100%;
}
@media (min-width: 1300px){ 
    .imagen-banner-descuento img{
        width: 100%;
    }
}
/* TESTIMONIALES */
.contenedor-uso {
    background-color: #F8E0D2; 
    margin-top: 20px;
}
.usar-usado {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    padding-top: 20px;
}

.usar-usado img{
    max-width: 200px;
}
@media (min-width: 1300px){ 
    .usar-usado img{
        max-width: 250px;
    }
}

.contenedor-carrusel {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.carrusel {
    margin-top: 20px; 
    max-width: 100%; 
    margin-bottom: 20px;
}
@media (min-width: 1300px){
    .carrusel {
        margin-top: 20px; 
        max-width: 50%; 
        margin-bottom: 20px;
    }
}
.owl-item {
    width: 100%;
}

/* NOSOTROS */
.contenedor-nosotros {
    width: 90%;
}
@media (min-width: 1300px){
    .contenedor-nosotros {
        width: 100%;
    }  
}
.contenedor-main{
    display: flex;
    justify-content: space-evenly;
}
.contenedor-banner {
    margin-bottom: 60px;
}
.contenedor-main-nosotros {
    display: flex;
    flex-direction: column;
}
.contenido-nosotros {
    margin-bottom: 40px;
}
.contenido-nosotros-img img {
    max-width: 100%;
    max-height: 100%;
}
  

.contenido-nosotros h3{
    text-align: center;
}
.contenido-nosotros-descripcion {
    margin-top: 40px;
}
.contenido-nosotros-descripcion p{
    font-size: 15px !important;
}
@media (min-width: 1360px){
    .contenedor-nosotros {
        margin-top: 20px;
    }
    .contenedor-main-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 84%;
    }
    .contenido-nosotros h3{
        text-align: left;
    }
    .contenido-nosotros-img {
        height: 600px;
        overflow:hidden;
    } 
    .contenido-nosotros-descripcion {
        margin-top: 40px;
    }
    .contenido-nosotros-descripcion p {
        font-size: 19px !important;
    }
}
.contenedor-locales-nosotros{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.notavif.notwebp .contenedor-locales-nosotros{/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/nosotros/JPG/fondo-locales-nosotros1200px.jpg");
}
.webp .contenedor-locales-nosotros{
    background-image: url("../images/nosotros/WEBP/fondo-locales-nosotros1200px.webp");
}
.contenedor-locales-titulo{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    text-transform: uppercase;
    margin-top: 40px;
}
.locales-nosotros{
    width: 346px;
    margin-bottom: 40px;
}
@media (min-width: 720px){ 
    .locales-nosotros{
        width: 600px;
        margin-bottom: 50px;    
    }
}
@media (min-width: 1360px){ 
    .locales-nosotros{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 1300px;
        margin-bottom: 60px;
    }
}
.contenido-locales {
    margin: 20px 0 20px 0;
}
@media (min-width: 1360px){
    .contenido-locales {
        margin: 20px 0 0 0;
    }    
}
.imagen-local-nosotros{
    background-position: bottom center;
    background-repeat: no-repeat; 
    background-size: 162%;
    width: 100%;
    height: 400px;
}
.notavif.notwebp .imagen-local-nosotros.iln-1{/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/locales/nosotros/JPG/LocalBallester.jpg");
}
.webp .imagen-local-nosotros.iln-1{
    background-image: url("../images/locales/nosotros/WEBP/LocalBallester.webp");
}
.notavif.notwebp .imagen-local-nosotros.iln-2{/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/locales/nosotros/JPG/LocalSanIsidro.jpg");
}
.webp .imagen-local-nosotros.iln-2{
    background-image: url("../images/locales/nosotros/WEBP/LocalSanIsidro.webp");
}
.notavif.notwebp .imagen-local-nosotros.iln-3{/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/locales/nosotros/JPG/LocalNunez.jpg");
}
.webp .imagen-local-nosotros.iln-3{
    background-image: url("../images/locales/nosotros/WEBP/LocalNunez.webp");
}
.imagen-local-nosotros.iln-1{
    background-position: -11px -58px;
    background-size: 104%;
}
.imagen-local-nosotros.iln-2{
    background-position: -4px -1px;
    background-size: 101%;
}
.imagen-local-nosotros.iln-3{
    background-position: -16px -6px;
    background-size: 103%;
}

.locales h4{
    font-family: 'Gotham-Black', sans-serif;
    color:#fc3273;
    font-size: 24px;
}
.locales:nth-child(even) h4{
   color:#126812;
}
.locales p{
    font-family: 'Gotham-Black', sans-serif;
}
.btn-tienda-online{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.imagen-nosotros-mision{
    height: 100%;
}
/* LOCALES */
.contenedor-locales {
    width: 90%;
}
@media (min-width: 720px){ 
    .contenedor-locales {
        width: 100%;
    }
}
@media (min-width: 1300px){ 
    .contenedor-locales {
        width: 100%;
    }
}
.contenedor-banner {
    margin-bottom: 60px;
}
.contenedor-main-locales {
    display: flex;
    flex-direction: column;
}
.contenido-nosotros {
    margin-bottom: 40px;
}

.contenido-locales h3{
    font-family: 'Gotham-Black', sans-serif;
    color:#fc3273;
    font-size: 30px!important;
    text-transform: uppercase;
    padding: 0!important;
    margin: 0;
}
@media (min-width: 720px){ 
    .contenido-locales h3{
        font-size: 32px!important;
    }
}
@media (min-width: 1300px){ 
    .contenido-locales h3{
        font-size: 34px!important;
    }
}
.contenido-locales span{
    font-family: 'Gotham-Black', sans-serif;
    color:#fc3273;
    font-size: 20px;
}
@media (min-width: 720px){ 
    .contenido-locales span{
        font-size: 22px;
    } 
}
@media (min-width: 1300px){ 
    .contenido-locales span{
        font-size: 24px;
    } 
}
.contenido-locales:nth-child(even) span{
    color:#126812;
}
.contenido-locales:nth-child(even) h3{
    color:#126812;
}
.contenido-locales p{
    font-family: 'Gotham-Bold', sans-serif;
}
.contenido-locales-descripcion {
    margin-top: 30px;
}
@media (min-width: 720px){ 
    .contenido-locales-descripcion {
        margin-top: 40px;
    }
}
@media (min-width: 1360px){
    .contenedor-locales {
        margin-top: 20px;
    }
    .contenedor-main-locales {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        max-width: 84%;
    }
    .contenido-locales h3{
        text-align: left;
    }
    .contenido-descripcion-btn {
        background-image: url("../images/locales/ubicacion_violeta.png");
        background-position: top left;
        background-repeat: no-repeat; 
        background-size: 31%;
        width: 100%;
        height: 252px;
        
    }
    .contenido-locales:nth-child(even) > .contenido-descripcion-btn{
        background-image: url("../images/locales/ubicacion_verde.png");
    }
    .contenido-locales-img {
        height: 600px;
        overflow:hidden;
    } 
    .contenido-locales-descripcion {
        margin-top: 20px;
    }
}

@media (min-width: 1700px){ 
    .contenido-descripcion-btn{
        background-size: 27%;
    }
}

.contenido-locales {
    margin: 20px 0 20px 0;
}
@media (min-width: 1360px){
    .contenido-locales {
        margin: 20px 0 0 0;
    }    
}
.imagen-locales{
    background-position: bottom center;
    background-repeat: no-repeat; 
    background-size: 162%;
    width: 100%;
    height: 330px;
}
@media (min-width: 720px){ 
    .imagen-locales{
        background-size: 162%;
        width: 100%;
        height: 420px;
    }
}
@media (min-width: 1300px){ 
    .imagen-locales{
        background-size: 162%;
        width: 100%;
        height: 600px;
    }
}
.notavif.notwebp .imagen-locales.iln-1{/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/locales/nosotros/JPG/LocalBallester.jpg");
}
.webp .imagen-locales.iln-1{
    background-image: url("../images/locales/nosotros/WEBP/LocalBallester.webp");
}
.notavif.notwebp .imagen-locales.iln-2{/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/locales/nosotros/JPG/LocalSanIsidro.jpg");
}
.webp .imagen-locales.iln-2{
    background-image: url("../images/locales/nosotros/WEBP/LocalSanIsidro.webp");
}
.notavif.notwebp .imagen-locales.iln-3{/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/locales/nosotros/JPG/LocalNunez.jpg");
}
.webp .imagen-locales.iln-3{
    background-image: url("../images/locales/nosotros/WEBP/LocalNunez.webp");
}
.imagen-locales.iln-1{
    background-position: -11px -58px;
    background-size: 104%;
}
.imagen-locales.iln-2{
    background-position: -4px -1px;
    background-size: 101%;
}
.imagen-locales.iln-3{
    background-position: -16px -6px;
    background-size: 103%;
}


.contenido-locales.custom-styles .btn{ /*.custom-styles para aumentar la especificidad de CSS.*/
    height: 40px!important;
    width: 165px!important;
    font-size: 35px!important;
    margin-top:15px!important;
}
.contenido-locales-img img{
    margin-top: 40px;
}
@media (min-width: 720px){ 
    .contenido-locales.custom-styles .btn{ /*.custom-styles para aumentar la especificidad de CSS.*/
        height: 40px!important;
        width: 165px!important;
        font-size: 35px!important;
        margin-top:30px!important;
    }
    .contenido-locales-img img{
        margin-top: 40px;
    }
}
@media (min-width: 1360px){ 
    .contenido-locales-descripcion {
        padding-left: 40px;
    }
    .contenido-locales.custom-styles .btn{ /*.custom-styles para aumentar la especificidad de CSS.*/
        height: 40px!important;
        width: 165px!important;
        font-size: 35px!important;
        margin-top:60px!important;
        margin-left:175px!important;
    }
}
  
/* PREGUNTAS FRECUENTES */
.dash-list {
    list-style-type: '-'!important;
}

.p-main {
    font-family: 'Gotham-Black', sans-serif;
}
.preguntas-frecuentes{
    margin-top: 20px;
}
.preguntas-frecuentes-main{
    margin: 0px;
    width: 100%;
}
@media (min-width: 720px){ 
    .preguntas-frecuentes-main{
        margin: 0px;
    }
}
@media (min-width: 1300px){ 
    .preguntas-frecuentes-main{
        margin: 40px;
    }
}
.preguntas-frecuentes h4 {
    text-transform: uppercase;
    font-size: 25px;
}
.preguntas-frecuentes p{
    margin-bottom: 20px;
}

.preguntas-frecuentes ul {
    padding-left: 5px;
}
.preguntas-frecuentes li {
    padding-left: 5px;
}

/* VENDER */
.p-main {
    font-family: 'Gotham-Black', sans-serif;
}
.p-vender{
    font-size: 15px!important;
    margin: 20px;
}
@media (min-width: 1300px){ 
    .p-vender{
        margin: 50px;
    } 
}

.vender {
    margin-top: 20px;
}
.vender-main{
    margin: 0px;
}
@media (min-width: 1300px){
    .vender-main{
        margin: 40px;
    }   
}
.vender h4 {
    text-transform: uppercase;
    font-size: 25px;
}
.vender p{
    margin-bottom: 10px;
}
@media (min-width: 720px){ 
    .vender p{
        margin-bottom: 15px;
    }
}
@media (min-width: 1300px){ 
    .vender p{
        margin-bottom: 20px;
    }
}

.vender ul {
    padding-left: 5px;
}
.vender li {
    padding-left: 5px;
}
.vender-prenda {
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    grid-template-columns: none;
}
.notavif.notwebp .prenda{/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/vender/JPG/imagen-vender-1.jpg");
}
.webp .prenda{
    background-image: url("../images/vender/WEBP/imagen-vender-1.webp");
}
.notavif.notwebp .prenda:nth-child(even){/* Clase del snippet img.js .notavif .notwebp*/
    background-image: url("../images/vender/JPG/imagen-vender-2.jpg");
}
.webp .prenda:nth-child(even){
    background-image: url("../images/vender/WEBP/imagen-vender-2.webp");
}
.prenda {
    background-position: bottom center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 350px;
    background-size: 100%;
    background-position: 0px 0px;
    transform: scaleX(-1);
}
.prenda:nth-child(even){
    background-size: 100%;
    background-position: 0px 0px;
    transform: scaleX(1);
}


@media (min-width: 720px){
    .prenda {   
        background-size: 167%;
        background-position: -288px -468px;
        height: 600px;
    }
    .prenda:nth-child(even){
        background-size: 132%;
        background-position: -36px -8px;
    }  
}

@media (min-width: 768px){
    .prenda {   
        background-size: 110%;
        background-position: 0px 0px;
        height: 600px;
    }
    .prenda:nth-child(even){
        background-size: 110%;
        background-position: 0px 0px;
    }  
}

@media (min-width: 1300px){
    .vender-prenda {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        grid-template-rows: none;
        position: relative;
    }
    .prenda {   
        background-size: 103%;
        background-position: 0px -2px;
        height: 600px;
    }
    .prenda:nth-child(even){
        background-size: 104%;
        background-position: 1px 0px;
    }  
}
.green-button {
    background-color: #126812;
    height: 86px;
    width: 247px;
    padding: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Gotham-Black', sans-serif;
    position: absolute;
    top: 44%;
    left: 13%;
    text-align: center;
    transition: background-color .5s ease-out ;
}
.green-button:hover{
    background-color: #083c08;
    color: #FFFFFF;
}
@media (min-width: 720px){ 
    .green-button {
        height: 91px;
        width: 353px;
        padding: 16px;
        font-size: 34px;
        position: absolute;
        top: 46%;
        left: 15%
    } 
}
@media (min-width: 1300px){ 
    .green-button {
        height: 91px;
        width: 353px;
        padding: 16px;
        font-size: 34px;
        position: absolute;
        top: 43%;
        left: 33%;
    } 
}

/* Terminos Condiciones*/
.contenedor-terminos-condiciones p{
    margin-top: 20px;
}
/* SUBSCRIBITE */
.subscribite{
    font-size: 20px!important; 
    font-weight: bold;
}
@media (min-width: 1300px){
    .subscribite{
        font-size: 24px; 
        font-weight: bold;
    }  
}

/* Contactos */
.contenedor-contacto {
    width: 90%;
}

.map-container-section {
    width: 377px;
    height: 300px;
}
.contenedor-mapa p {
    font-size: 14px !important;
}
@media (min-width: 1300px){ 
    .contenedor-contacto {
        width: 100%;
    }
    
    .map-container-section {
        height: 400px;
        width: 100%;
    }
}
@media (min-width: 1300px){ 
    .contenedor-contacto {
        width: 100%;
    }
    
    .map-container-section {
        height: 400px;
        width: 100%;
    }
}

/* Contenedor Subscribite */
.contenedor-subscribite{
    margin-top: 20px;
}

@media (min-width: 720x){ 
    .contenedor-subscribite{
        margin-top: 50px;
    }
}
@media (min-width: 1300px){ 
    .contenedor-subscribite{
        margin-top: 70px;
    }
}
.contenedor-subscribite .btn {
    width: 30%;
    font-size: 25px;
}
@media (min-width: 720x){ 
    .contenedor-subscribite .btn {
        width: 30%;
        font-size: 50px;
    } 
}
@media (min-width: 1300px){ 
    .contenedor-subscribite .btn {
        width: 30%;
        font-size: 50px;
    } 
}
.form-subscribite {
    margin-top: 10px;
}

.form-subscribite-input {
    color: #e2e2e2;
    text-align: center;
}
/* FOOTER */
.logo-footer {
    max-width: 150px; 
    margin-top: 20px; 
    margin-bottom: 10px;
}
@media (min-width: 720px){ 
    .logo-footer {
        max-width: 188px; 
        margin-top: 20px; 
        margin-bottom: 10px;
    }
}
@media (min-width: 1300px){ 
    .logo-footer {
        max-width: 200px; 
        margin-top: 20px; 
        margin-bottom: 10px;
    }
}

.footer-enlaces {
    font-size: 18px;
}
@media (min-width: 720px){ 
    .footer-enlaces {
        font-size: 20px;
    } 
}
@media (min-width: 1300px){ 
    .footer-enlaces {
        font-size: 25px;
    } 
}

.contenedor-tienda-online {
    padding: 0; 
    max-height: 600px
}

/* Banner */
.banner {
    height: 360px;
    width: 95%;
    border: solid 3px #ec008b;
    border-radius: 25px;
    margin-bottom: 20px;
}

.banner-img {
    width: 120px;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 1300px){ 
    .container.container-banner{
        max-width: 1157px !important;
    }
    .banner {
        height: 200px;
        width: 100%;
        border: solid 3px #ec008b;
        border-radius: 25px;
        margin-top: 20px;
    }
    .banner-img {
        width: 120px;
        height: auto;
        margin: 0;
    }
}

.banner-contenido {
    margin: 10px;
}

@media (min-width: 1300px){ 
    .banner-contenido {
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        margin-left: 30px;
    }
}

.banner-descripcion {
    color: #ec008b;
    padding: 15px;
}
.banner-descripcion h1{
    color: #ec008b;
    font-family: 'Gotham-Black', sans-serif;
    text-transform: uppercase;
    font-size: 25px!important;
    margin: 0!important;
    padding: 0!important;
}
.banner-descripcion .banner-descripcion-titulo {
    text-align: center;
}
.banner-descripcion .banner-descripcion-parrafo {
    margin: 0 auto;
}
.banner-descripcion p {
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 16px!important;
    margin: 0!important;
}
@media (min-width: 720px){
    .banner-descripcion h1{
        font-size: 33px!important;
    }
    .banner-descripcion p {
        font-size: 20px!important;
    }
}
@media (min-width: 1300px){ 
    .banner-descripcion .banner-descripcion-titulo {
        text-align: left;
    }
    .banner-descripcion .banner-descripcion-parrafo {
        margin: 0;
    }
    .banner-descripcion {
        color: #ec008b;
        margin-left: 20px;
        padding: 0;
    }
    .banner-descripcion h1{
        color: #ec008b;
        font-family: 'Gotham-Black', sans-serif;
        text-transform: uppercase;
        font-size: 50px!important;
        margin: 0!important;
        padding: 0!important;
    }
    .banner-descripcion p {
        font-family: 'Gotham-Bold', sans-serif;
        font-size: 25px!important;
        margin: 0!important;
    }
}
